"@*This is the the confirmation view *@"

<div class="confirmation-container">
    <h2>🎉 Success!</h2>
    <p>Your movie has been added to the collection.</p>
    <a class="btn btn-secondary mt-3" asp-controller="Home" asp-action="Create">Add Another Movie</a>
</div>
