@model Movie

<div class="form-group">
    <label asp-for="Rating"></label>
    <select asp-for="Rating" class="form-control">
        <option>G</option>
        <option>PG</option>
        <option>PG-13</option>
        <option>R</option>
    </select>
</div>

<div class="form-group">
    <label asp-for="Edited"></label>
    <input type="checkbox" asp-for="Edited" />
</div>
